@import "tailwindcss";
@config "../../tailwind.config.ts";

@layer base {
  /* 1. Use a more-intuitive box-sizing model */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* 2. Remove default margin */
  * {
    margin: 0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    flex-direction: column;
  }

  /* 5. Improve media defaults */
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  /* 6. Inherit fonts for form controls */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  /* 7. Avoid text overflows */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  /* 9. Create a root stacking context */
  #root,
  #__next {
    isolation: isolate;
  }

  a,
  button {
    touch-action: manipulation;
  }

  /* *:focus {
    outline: none;
  } */
}

@layer utilities {
  .texture {
    inset: 0;
    pointer-events: none;
    position: absolute;
    background-image: url(data:image/png;base64,...); /* truncated for brevity */
    background-size: 25px 25px;
    background-repeat: repeat;
    opacity: 0.35;
  }
}

/* This stays outside because it's not really a style rule */
@custom-variant hocus {
  @media (hover: hover) {
    &:hover {
      @slot;
    }
  }
  &:focus-visible {
    @slot;
  }
}
